.tabs {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
  height: 50px;
}

.tab {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 100%;
  text-transform: uppercase;
  border: 1px solid #dfe5ec;
}

.tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab:not(:last-child) {
  border-right: none;
}

.activeTab {
  background-color: #2196f3;
  color: #fff;
}
