.filter {
  padding: 20px 0;
  width: 232px;
  height: 252px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  margin-right: 20px;
  position: sticky;
  top: 20px;
}

.filter__title {
  text-transform: uppercase;
  padding-left: 20px;
}

.filter__item {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 400;
  font-size: 13px;
  padding-left: 20px;
}

.filter__item:first-child {
  margin-top: 10px;
}

.filter__item:hover {
  background-color: #f1fcff;
}

label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}

input[type='checkbox'] {
  appearance: none;
}

.checkboxView {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9abbce;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.shape {
  opacity: 0;
}

input[type='checkbox']:checked + .checkboxView {
  border: 1px solid #2196f3;
  border-radius: 2px;
}

input[type='checkbox']:checked + .checkboxView .shape {
  opacity: 1;
}

@media screen and (max-width: 774px) {
  .filter {
    width: 100%;
    position: static;
    margin-bottom: 20px;
  }
}
